.label {
    color: #344054;
    font-size: 16px;
    font-weight: 400;
}

select {
   border:1px solid #D0D5DD;
   background: white    ;
   flex: 1;
   padding: 10px;
   color:#fff;
   cursor:pointer;
   font-size: 16px;
   font-weight: 400;
    color: #98A2B3;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   background-image: none;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 50px;
   line-height: 3;
   border-radius: 5px;
   border:1px solid #D0D5DD;

}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 5%;
   right: 1%;
   padding: 1px 20px;
   background: white;
   height: 80%;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: black;
}

.row {
    display: flex;
    flex-direction: row;
}

.subContainer {
    width: 45%;
}

.separator {
    border-top: 1px solid #E4E7EC;
}

.mainContainer {
    width: 45%;
}

.header {
    color: #101828;
    font-size: 24px;
    font-weight: 600;
}

.subHeader {
    font-size: 21px;
    font-weight: 600;
    color: #344054;
}

.labels {
    color: #98A2B3;
    font-size: 12px;
    font-weight: 600;
    line-height: 24;
}
